body {
  font: 1.25em/1.5em sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 1.5em;
  margin: 0 0 1.5em 0;
  line-height: 1em;
  padding-top: 0.5em;
}

h2 {
  font-size: 1.25em;
  margin: 0 0 1.2em 0;
}

h3 {
  font-size: 1em;
  margin: 0;
}

p, ol, ul {
  margin: 0 0 1.5em 0;
}

@media print {
  body {
    max-width:none
  }
}

code {
  border: 1px solid #cc8888;
  color: #cc3333;
  background-color: #eee;
  padding: 2px 3px;
  border-radius: 2px;
  margin: -3px;
  line-height: 1em;
}

nav {
  width: 100%;
  background: #333;
  color: #fff;
}

article {
  margin: 0;
  padding-top: 1.5em;
}

.nav-interior {
  margin: 0 auto;
  max-width: 40em;
  line-height: 3em;
}

.logotype {
  font-size: 1.5em;
  color: #ff6666;
  line-height: 1.33333em;
  display: inline-block;
  padding-right: 0.5em;
}

nav a, nav a:visited {
  color: #ddd;
  line-height: 3em;
  text-decoration: none;
  padding-left: 0.75em;
}

nav a.active {
  color: #fff;
}

article {
    margin: 0 auto;
    max-width: 40em;
}

a {
  color: #f55;
}

a:visited {
  color: #cc8888;
}
